*.bin
*.obj
*.zip
src/Services/Core/Core.Application/bin
src/Services/Core/Core.Application/obj
src/Services/Core/Core.Domain/bin
src/Services/Core/Core.Domain/obj
src/Services/Core/Core.Infrastructure/bin
src/Services/Core/Core.Infrastructure/obj
src/Services/Core/Core.Persistence/bin
src/Services/Core/Core.Persistence/obj
src/Services/Core/Core.Shared/bin
src/Services/Core/Core.Shared/obj
src/Services/Core/Core.WebAPI/bin
src/Services/Core/Core.WebAPI/obj
/bin
/obj
src/Services/ApiGateway/bin
src/Services/ApiGateway/obj
src/Services/CommonLibrary/JwtTokenAuthentication/JwtTokenAuthentication/bin
src/Services/CommonLibrary/JwtTokenAuthentication/JwtTokenAuthentication/obj
src/Services/CommonLibrary/obj
src/Services/CommonLibrary/bin
src/bin
src/obj
src/log
src/data
src/Services/HCM/HCM.Application/bin
src/Services/HCM/HCM.Application/obj
src/Services/HCM/HCM.Domain/bin
src/Services/HCM/HCM.Domain/obj
src/Services/HCM/HCM.Infrastructure/bin
src/Services/HCM/HCM.Infrastructure/obj
src/Services/HCM/HCM.Persistence/bin
src/Services/HCM/HCM.Persistence/obj
src/Services/HCM/HCM.Shared/bin
src/Services/HCM/HCM.Shared/obj
src/Services/HCM/HCM.WebAPI/bin
src/Services/HCM/HCM.WebAPI/obj
src/.vs/DHERPSOLUATION/FileContentIndex
src/Services/AggregatorService/bin
src/Services/AggregatorService/obj